<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Input a word</title>
</head>
<body>
    <h2>Please input a word of your language</h2>
    <form method="post">
        <div>
            <label for="userId">specify your userID</label>
            <input name="userId" type="text"/>
        </div>
        <div>
            <label for="aWord">Type in a Word</label>
            <input name="aWord" type="text"/>
        </div>
        <div>
            <label for="inLang">Your word is in Language:</label>
            <input name="inLang" type="text"/>
        </div>
        <div>
            <label for="wordForm">Type in your word Form</label>
            <input name="wordForm" type="text"/>
        </div>
        <div>
            <label for="wordMeaning">Type in your word Meaning</label>
            <input name="wordMeaning" type="text"/>
        </div>
        <div>
            <label for="wordSample">Type in your word Sample sentences</label>
            <input name="wordSample" type="text"/>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>