<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Input a word</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
    <h2>Please input a word of your language</h2>

    <form action="/add" method="post">
        <div>
            <label for="word">Type in a Word
                <input type="text" class="inputs" name="word" required maxlength="30"/>
            </label>
            <label for="meanEnglish">Give English meaning of your word
                <input type="text" class="inputs" placeholder="aka" name="meanEnglish"/>
            </label>
            <label for="inLang">Your word is in Language
                <input type="text" class="inputs" name="inLang" required maxlength="15"/>
            </label>
            <label for="form">Your word's form
                <input type="text" class="inputs" placeholder="verb" name="form" required maxlength="15"/>
            </label>
            <label for="meaning">Give meaning of your word
                <input type="text" class="inputs" name="meaning"/>
            </label>
        </div>
        <br>
        <input class="btn" type="submit" value="Save"/>
    </form>

 <!--   <form method="post">
        <div>
            <label for="userId">specify your userID</label>
            <input name="userId" type="text"/>
        </div>
        <div>
            <label for="aWord">Type in a Word</label>
            <input name="aWord" type="text"/>
        </div>
        <div>
            <label for="inLang">Your word is in Language:</label>
            <input name="inLang" type="text"/>
        </div>
        <div>
            <label for="wordForm">Type in your word Form</label>
            <input name="wordForm" type="text"/>
        </div>
        <div>

            <input name="wordMeaning" type="text"/>
        </div>
        <div>
            <label for="wordSample">Type in your word Sample sentences</label>
            <input name="wordSample" type="text"/>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>  */ -->
</body>
</html>