<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>Please enter a word to look up</h2>
    <form method="post">
        <div>
            <label for="aWord">Type in a Word</label>
            <input name="aWord" type="text"/>
        </div>
        <div>
            <label for="inLang">Your word is in Language:</label>
            <input name="inLang" type="text"/>
        </div>
        <div>
            <button type="submit">Look-Up</button>
        </div>
    </form>
</body>
</html>