<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
    <h2>Please enter a word to look up</h2>

    <form action="/filter" method="post">
        <div>
            <label for="word">Type in a Word &nbsp;&nbsp;
                <input type="text" class="inputs" name="word"/>
            </label>

            <label for="inLang">Your word is in Language (optional): &nbsp;&nbsp;
                <input type="text" class="inputs" name="inLang"/>
            </label>
        </div>
        <br>
            <input class="btn" type="submit" value="Look-up"/>
    </form>
</body>
</html>